@import './variables';
@import './bootswatch';
@import '~bootstrap/scss/bootstrap';


#app > .navbar {
    background: linear-gradient(145deg, #349aed 50%, #34d8ed 100%);

    .navbar-brand {
        font-size: 150%;
        margin: -15px 20px -15px 0;

        img {
            height: 40px;
            margin: -10px 7px 0 0;
        }
    }
}

.content {
    padding: 20px;
}
